[class*="col-"] {
    float: left;
    padding: 15px;
    background-color: blanchedalmond;
    font-family: sans-serif;
    color: navy;
  }
.header {
    background-color: lavender;
    border: 1px solid black;
}
#border {
    border: 1px solid black;
}